html, body, figure, ul, li, h1, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  text-align: inherit;
}

h1 {
  color: #00cc00;
  margin-top: 40px;
  font-size: 36px;
  letter-spacing: 5px;
  padding: 10px 30px;
  border: 5px dotted #00cc00;
}

ul {
  list-style: none;
}

button {
  position: relative;
  top: 80px;
  background: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.high-score {
  display: none;
  position: relative;
  top: 30px;
  color: #00A000;
}

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

.game-wrapper {
  width: 600px;
  height: 1500px;
  margin-top: -200px;
  background-image: url("nokia.png");
  background-size: cover;
  display: inline-block;
  position: relative;
}

.menu {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
}

figure {
  display: inline-block;
  background: #000;
  margin-top: 400px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 15px;
  height: 15px;
}

.phone-keys {
  position: absolute;
  height: 90px;
  width: 130px;
}

#up {
  bottom: 430px;
  left: 240px;
}

#right {
  bottom: 350px;
  left: 410px;
}

#down {
  bottom: 220px;
  left: 240px;
}

#left {
  bottom: 350px;
  left: 70px;
}

.apple {
  background: #f00;
}

.snake {
  background: #00A000;
}
